{% extends 'base.html' %}

{% block content %}

  <!-- FORGOT PASSWORD FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">Create a Question</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="add-question-form" class="text-left">
			<div class="etc-login-form">
				<p>Fill in the question you would like to ask</p>
			</div>
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="question" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="question" name="question" placeholder="Your Question">
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>

{% endblock %}