{% extends 'base.html' %}

{% block content %}
<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">Register</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" action="{% url 'register' %}" method="POST">
			<div class="login-form-main-message"></div>
      {{ errors }}
			<div class="main-login-form">
				<div class="login-group">
          {% csrf_token %}
					<div class="form-group">
						<label for="reg_username" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="reg_username" name="username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="reg_password" name="password" placeholder="password">
					</div>
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="password_confirm" placeholder="confirm password">
					</div>

					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" name="email" placeholder="email">
					</div>
					<div class="form-group">
						<label for="reg_firstname" class="sr-only">First Name</label>
						<input type="text" class="form-control" id="reg_firstname" name="first_name" placeholder="first name">
					</div>
					<div class="form-group">
						<label for="reg_lastname" class="sr-only">Last Name</label>
						<input type="text" class="form-control" id="reg_lastname" name="last_name" placeholder="last name">
					</div>

				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>already have an account? <a href="{% url 'login' %}">login here</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
{% endblock %}