{% extends 'base.html' %}

{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        {% for question in questions %}
        var answers = [["Question", "Answer"]];
        var answer_dict = {};


        {% for answer in question.answer_set.all %}
          if (answer_dict["{{ answer.answer }}"] !== undefined){
            answer_dict["{{ answer.answer }}"]++;
          } else {
            answer_dict["{{ answer.answer }}"] = 1;
          }
        {% endfor %}

        for (var key in answer_dict) {
            if (answer_dict.hasOwnProperty(key)) {
              answers.push([key, answer_dict[key]]);
            }
        }

        var data = google.visualization.arrayToDataTable(answers);

        var options = {
          title: '{{ question.question }}'
        };

        var chart = new google.visualization.PieChart(document.getElementById('{{ question.id }}'));

        chart.draw(data, options);
        {% endfor %}
      }
    </script>
    {% for question in questions %}
    <div id="{{ question.id }}" style="width: 900px; height: 500px;"></div>
    {% endfor %}

{% endblock %}